
    <title>Mi familia :)</title>
</head>
    <h1>Esta es mi familia</h1>
<body>
</style>
<section>
    <h2>Mi hija:</h2>    
    <p>Mi hija se llama {{nombre_mihija}}</p>
    <p>Lara nacio el {{fechanacim_mihija}}</p>
    <p>Su DNI es {{dni_mihija}}</p>
    
    <h2>Mi mujer:</h2>    
    <p>Mi mujer se llama {{nombre_mimujer}}</p>
    <p>Ale cumple el {{fechanacim_mimujer}}</p>
    <p>Su DNI es {{dni_mimujer}}</p>

    <h2>Mi hermana:</h2>    
    <p>Mi hermana se llama {{nombre_mihermana}}</p>
    <p>Sol cumple el {{fechanacim_mihermana}}</p>
    <p>Su DNI es {{dni_mihermana}}</p>
</body>
</html>